.border0{
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
}

.wd{
    width: 100%; 
    height: 750px; 
    margin-bottom: 270px;
    /* background-color: green; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://media.istockphoto.com/id/1372399516/vector/dark-blue-defocused-blurred-motion-gradient-soft-abstract-background-vector.jpg?s=612x612&w=0&k=20&c=ulLw1_awuztJ1ujhXSBAjQpI4L5PHuF-RE01zlAQHZ0=");
}

.bord{
    border-color: none;
    color: white;
}

.font_size{
    font-size: 26px;
    color: white!important;
    font-family: sans-serif;
}

.tr{
    transition: 0.5s;
}

.collapse ul li a{
    color: white!important;
}

.collapse ul li a:hover{
    color: black!important;
}

.font_size:hover{
    color: gray!important;
}

.fonsize{
    font-size: 20px;
}

.margin_left{
    margin-left: 180px;
}

.pad_left{
    padding-left: 0;
}

.mrglft{
    margin-left: 14px;
}

.btn{
    width: 180px;
    height: 34px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-left: 10px;
    transition: 0.5s;
    background-color: rgb(0, 149, 255);
}

.btn:hover{
    background-color: rgb(7, 110, 184)!important;
}

.words_n{
    width: 100%;
    height: 400px;
    /* background-color: bisque; */
    float: left;
    margin-top: 150px;
}

.sm{
    width: 100%;
    height: 30px;
    float: left;
    margin-bottom: 8px;
    text-align: start;
}

.percent{
    width: 100%;
    height: 80px;
    float: left;
    /* background-color: black; */
    text-align: start;
}

.words_n .sm span{
    font-size: 22px;
    color: white;
}

.percent span{
    font-size: 78px;
    font-family: sans-serif;
    color: white;
}

.word_n{
    width: 90%;
    height: 100px;
    float: left;
    /* background-color: blue; */
    color: white;
    margin-top: 18px;
    text-align: start;
    margin-top: 30px;
}

.word_n .mm span{
    font-size: 30px;
}

.disFlex{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.bt{
    width: 200px;
    height: 55px;
    float: left;
    color: white;
    border-radius: 33px;
    border-color: #fff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
    margin-top: 15px;
}

.n{
    width: 100%;
    height: 63px;
    /* background-color: aqua; */
    float: left;
}

.button_n{
    text-decoration: none;
    color: white;
}

.button_n span{
    font-size: 18px;
}

.bt:hover{
    background-color: #174589;
}

.photo{
    width: 100%;
    height: 500px;
    float: right;
    /* background-color: aqua; */
}

.ph{
    width: 70%;
    height: 430px;
    margin-top: 70px;
    /* background-color: black; */
    float: right;
    object-fit: contain;
    object-position: center;
}

.job{
    width: 100%;
    height: 250px;
    float: left;
    background-color: white;
    bottom: -130px;
    box-shadow: 0px 4px 4px #eeeded;
}

.center_r{
    width: 100%;
    height: 250px;
    float: left;
    /* background-color: red; */
    padding: 0 10px;
    box-sizing: border-box;
}

.icon_n{
    width: 100%;
    height: 245px;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    /* background-color: chocolate; */
    text-align: center;
}

.icn{
    width: 100%;
    height: 90px;
    float: left;
    padding: 0;
    margin-top: 30px;
}

.back{
    width: 50px;
    height: inherit;
    float: left;
    float: left;
    color: orange;
}

.icon_n p , .paa{
    font-size: 26px;
}

.pa{
    float: left;
}

.icon_n span{
    font-size: 17px;
    font-family: Georgia, serif;
}

.card{
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.gray{
    width: 100%;
    height: 390px;
    background-color: #f4f4f4;
    position: relative;
    margin: 15px 0;
    float: left;
    padding: 48px 24px 25px 24px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card:hover{
    transform: rotateY(180deg);
}

.reverse{
    position: relative;
    width: 100%;
    height: 390px;
    margin: 15px 0;
    background-color: #297e29; 
    color: white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    padding: 120px 0px 0 25%;
    box-sizing: border-box;
}

.imgg{
    width: 100%;
    height: 140px;
    /* background: #f4f4; */
    margin: 35px 0 60px 0;
    float: left;
    object-fit: contain;
    object-position: center;
}

.iphone{
    height: 180px;
    margin: 18px 0 37px 0;
}

.square{
    width: 100%;
    height: 320px;
    float: left;
    background-color: #3fdfe4;
    margin: 120px 50px 80px 0;
    position: relative;
}

.backk{
    background-color: #ffc627;
}

.endstd{
    width: 100%;
    height: 200px;
    float: left;
    /* background: #171212; */
    margin: 70px 0px 0 40px;
    z-index: 1;
    position: absolute;
}

.endstd p , .endstd a{
    font-size: 18px;
    color: white;
}

.endstd span{
    color: white;
    font-size: 42px;
    line-height: 50px;
    font-family: sans-serif;
}

.down{
    margin-top: 100px;
}

.phhooto{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    object-fit: contain;
    object-position: center;
}

.mnwmn{
    width: 100%;
    height: 40px;
    float: left;
    /* background-color: darkcyan; */
}

.words{
    width: 350px;
    height: 40px;
    /* background-color: black; */
}

.words ul {
    padding: 0px;
}

.words ul li {
    float: left;
    list-style-type: none;
}

.words ul li:nth-child(1) a{
    color: #2a7bf4;
}

.words ul li a{
    margin: 10px;
    padding: 10px;
    /* background: antiquewhite; */
    text-decoration: none;
    font-size: 15px;
    color: #818080;
}

.words ul li a:hover{
    color: #64a1fd;
    transition: 0.4s;
}

.leftright{
    width: 100%;
    height: 40px;
    float: right;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon_nnn{
    width: 108px;
    height: 40px;
    /* background-color: #ffc627; */
}

.ic{
    width: 45px;
    height: 45px;
    background-color: transparent;
    float: left;
    border-radius: 50%;
    border: 1px solid #868080;
    color: #868080;
}

.ic:hover{
    border: 1px solid black;
    color: black;
}

.con{
    width: 100%;
    height: 2px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: #e1dfdf;
}

.clr{
    border: 1px solid #bebbbb;
    color: #bebbbb;
    margin-right: 12px;
}

.white{
    width: 100%;
    height: 350px;
    /* background-color: #868080; */
    margin: 0 10px 70px 0;
    padding: 12px 25px 20px 25px;
    box-sizing: border-box;
}

.img_n_n{
    width: 100%;
    height: 200px;
    /* background-color: #64a1fd; */
    margin-bottom: 40px;
    object-fit: contain;
    object-position: center;
    transition: 0.5s;
}

.img_n_n:hover{
    height: 180px;
    transform: scale(1.1);
}

.wrds{
    margin-top: 10px;
    width: 100%;
    height: 120px;
    text-align: center;
    /* background-color: bisque; */
}

.bck{
    background-color: #E93862;
}

.clnr{
    background-color: #904E34;
}

.nn{
    background-color: #FF7A00;
}

.mgrg{
    margin-right: 5px;
}

.ds{
    display: flex;
    justify-content: end;
}

.kv{
    width: 100%;
    height: 260px;
    float: left;
    /* background-color: green; */
    padding: 2px 10px 0 0px;
    box-sizing: border-box;
    margin-top: 70px;
}

.kvv{
    width: 100%;
    height: 160px;
    /* background-color: greenyellow; */
}

.kvv p , .kvv a{
    font-size: 18px;
    color: white;
}

.kvv span{
    color: white;
    font-size: 42px;
    line-height: 50px;
    font-family: sans-serif;
}

.phot{
    width: 100%;
    height: 250px;
    /* background-color: #64a1fd; */
    object-fit: contain;
    object-position: center;
    padding-left: 0;
}

.backcolor{
    background-color: #252b42;
    margin-top: 100px;
    height: 440px;
}

.pad{
    padding: 50px 0 10px 0;
    box-sizing: border-box;
}

.nmm{
    color: white;
    font-size: 27px;
    font-family: sans-serif;
    margin-top: 22px;
}

.hover{
    width: 180px;
}

.icon_3{
    color: #2a7bf4;
    margin-right: 15px;
}

.conn{
    width: 100%;
    height: 1.5px;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: #6f6e6e;
}

.nm{
    width: 100%;
    height: 50px;
    margin-right: 8px!important;
    padding-left: 10px;
    border-radius: 6px 0 0 6px;
}

.hover a i:hover{
    color: #2849b5;
}

.nnn{
    width: 35%;
    background-color: #1d77ff;
    color: #fff;
    border-radius: 0 6px 6px 0;
}

@media screen and (max-width: 768px) {
    .margin_right{
        display: none;
    }

    .mgbtm{
        margin-bottom: 25px;
    }

    .phhooto{
        width: 130%;
        margin-top: 10px;
    }

    .fonnt span{
        font-size: 50px;
    }

    .endstd{
        width: 160%;
    }

    .mg{
        margin-top: 0;
    }

    .wd{
        height: 1650px;
        margin-bottom: 480px;
    }
    
    .border0{
        background-color: white;
    }

    .fntsize{
        font-size: 25px;
    }

    .marg{
        margin-top: 15px;
    }

    .photo{
        margin-bottom: 140px;
    }

    .icon_nn{
        width: 100%;
    }

    .conn{
        background-color: transparent;
        margin-top: 140px;
    }

    .mrg{
        margin-top: 20px;
    }

    .bottom{
        margin-bottom: 20px;
    }

    .backcolor{
        height: 1200px;
    }

    .m{
        margin-bottom: 15px;
    }

    .font_size{
        color: black!important;
    }

    .pad_left{
        padding-left: 20px;
        padding-top: 24px;
    }

    .leftright{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .mgrg{
        margin-right: 0px;
        margin-bottom: -62px!important;
    }

    .padd{
        padding: 50px 80px 0 86px;
    }

    .none{
        display: none;
    }

    .nn{
        width: 97%;
    }

    .white{
        padding: 0;
        margin-bottom: 25px;
    }

    .img_n_n{
        margin-bottom: 18px;
    }

    .pa{
        margin-bottom: 40px;
    }

    .con{
        margin-top: 190px;
    }

    .bord{
        color: gray;
    }

    .mrglft{
        margin-left: 8px;
    }

    .center_n{
        text-align: center;
    }

    .navbar-inverse .bord{
        border-color: #fff;
        line-height: 35px;
    }

    .navbar-inverse .bord:hover{
        background-color: #fff;
    }

    .navbar-inverse .bord:hover i:nth-child(3){
        color: black;
    }

    .collapse ul li a{
        color: gray!important;
        line-height: 35px;
    }

    .words_n{
        margin-top: 70px;
    }

    .sm, .percent, .word_n{
        text-align: center;
    }

    .paa{
        font-size: 27px;
    }

    .gray{
        width: 100%;
        height: 360px;
        padding: 25px 24px 10px 24px;
    }

    .imgg{
        height: 170px;
        margin: 15px 0 40px 0;
    }

    .iphone{
        height: 220px;
        margin: 5px 0;
    }

    .percent{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .percent span{
        font-size: 68px;
    }

    .sm{
        margin-bottom: 20px;
    }

    .mm{
        width: 80%;
        height: inherit;
    }

    .n{
        margin-top: 30px;
    }

    .word_n{
        width: 100%;
        height: 150px;
        margin-top: 20px;
    }

    .pad{
        padding: 0 80px 0 90px;
    }

    .word_n .mm span{
        font-size: 36px;
    }

    .dissFlex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ph{
        width: 100%;
        height: 500px;
        background-size: fill;
    }

    .job{
        width: 80%;
        text-align: center;
        margin-left: 60px;
        height: 750px;
    }

    .reverse{
        height: 360px;
        font-size: 28px;
        padding: 80px 0 0 125px;
        box-sizing: border-box;
        
    }
}

@media screen and (max-width: 993px) {
   .mar0{
     margin: 0 ;
   }
}